* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 1100px;
  max-width: 95%;
  margin: 0 auto;
}
button {
  border: 1px solid #222;
  padding: 6px 10px;
  font-size: 16px;
  cursor: pointer;
}
.heading {
  text-align: center;
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.simple-box {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.grid .col {
  background-color: #ededed;
  height: 200px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 999;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-inner {
  background-color: #ededed;
  border-radius: 6px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 60px 20px 20px 20px;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 16px;
  margin-right: 16px;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 2px;
}

@media only screen and (min-width: 1280px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 767px) {
  .heading {
    font-size: 30px;
  }
}

@media only screen and (min-width: 576px) {
}
