* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background: #46409a;
  background: linear-gradient(
    90deg,
    rgba(70, 64, 154, 1) 0%,
    rgba(83, 98, 199, 1) 50%,
    rgba(94, 132, 239, 1) 100%
  );
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
input,
button[type="submit"] {
  border: 0;
  outline: none;
}
input {
  padding: 6px 15px;
}
.container {
  width: 1280px;
  max-width: 96%;
  margin: 0 auto;
  padding: 0 15px;
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #555;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#top {
  margin-top: -25vh;
}
.page_title,
.page_subtitle {
  text-align: center;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}
.page_subtitle {
  margin-bottom: 46px;
  font-weight: 400;
}
#input_form {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}
.input_box,
.input_btn {
  height: 50px;
  width: 100%;
}
.input_box {
  font-size: 15px;
}
.input_box::placeholder {
  color: #8d8d8d;
}
.input_btn {
  width: 60px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input_btn svg {
  display: block;
}
.input_btn svg path {
  fill: white;
}
.ip__address {
  text-align: center;
  margin-top: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  line-height: 1.2;
}
#copy_ip_btn {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
#copy_ip_btn svg {
  display: block;
  fill: white;
  width: 20px;
  height: 20px;
}
.data_blocks {
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  margin: 50px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0;
  z-index: 5;
}
.data_block {
  width: 25%;
  padding: 0 12px;
  border-right: 1px solid #333;
  text-align: center;
}
.data_block:last-child {
  border-right: 0;
}
.data_block h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #949494;
  letter-spacing: 1px;
}
.data_block h4 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}
#map {
  position: absolute !important;
  left: 0;
  right: 0;
  height: 60vh;
  transform: translateY(-60px);
  z-index: 0;
  display: none;
}

@media only screen and (max-width: 767px) {
  .data_block {
    width: 50%;
  }
  .data_block:nth-child(2) {
    border-right: 0;
  }
}

@media only screen and (max-width: 576px) {
  #top {
    margin-top: 0;
    padding-top: 0;
  }
  .data_block {
    width: 100%;
    border-right: 0;
  }
  .data_block h4 {
    margin-top: 10px;
  }
  .input_box::placeholder {
    font-size: 13px;
  }
}
